{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>MB/s</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		 <!-- Bootstrap core CSS-->
		<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<!-- Custom fonts for this template-->
		<link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
		<!-- Page level plugin CSS-->
		<link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
		<!-- Custom styles for this template-->
		<link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
	</head>
	<body class="fixed-nav sticky-footer bg-dark" id="page-top">
	    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
		    <a class="navbar-brand" href="">MB/s</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
			    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
			    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Home">
				    <a class="nav-link" href="">
					<i class="fa fa-fw fa-dashboard"></i>
					<span class="nav-link-text">Home</span>
					</a>
				</li>
				<li class="nav-item" data-toggle="tooltip" data-placement="right" title="My Challenge">
					<a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
					<i class="fa fa-fw fa-file"></i>
					<span class="nav-link-text">My Challenge</span>
					</a>
					<ul class="sidenav-second-level collapse" id="collapseExamplePages">
					<li>
						<a href="">Create Challenge</a>
					</li>
					<li>
						<a href="">Manage Challenge</a>
					</li>
					</ul>
				</li>
				<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Rank">
					<a class="nav-link" href="">
					<i class="fa fa-fw fa-area-chart"></i>
					<span class="nav-link-text">Rank</span>
					</a>
				</li> 
				</ul>
				<ul class="navbar-nav sidenav-toggler">
				<li class="nav-item">
					<a class="nav-link text-center" id="sidenavToggler">
					<i class="fa fa-fw fa-angle-left"></i>
					</a>
				</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
					<a class="nav-link" data-toggle="modal" data-target="#exampleModal">
					<i class="fa fa-fw fa-sign-out"></i>Logout</a>
				</li>
				</ul>
		    </div>
		</nav>
        {% block content %}{% endblock %}
        <div class="modal" id="modal-progress" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Uploading...</h5>
                </div>
                <div class="modal-body">
                    <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 0%;" 
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                    </div>
                </div>
                </div>
            </div>
		</div>
		<!-- Core plugin JavaScript-->
		<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
		<script src="{% static 'vendor/jquery/jquery.ui.widget.js' %}"></script>
		<script src="{% static 'vendor/jquery/jquery.iframe-transport.js' %}"></script>
		<script src="{% static 'vendor/jquery/jquery.fileupload.js' %}"></script>
		<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
		<!-- Bootstrap core JavaScript-->
		<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		<!-- Page level plugin JavaScript-->
		<script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
		<script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
		<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
		<!--custom JavaScript-->
		<script src="{% static 'js/sb-admin.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>				
	</body>
</html>